# Regularization
## 1. Import Libraries

In [1]:
#Import Libraries
import numpy as np
import pandas as pd 
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression, Lasso, ElasticNet, Ridge
from sklearn.model_selection import train_test_split
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OrdinalEncoder
import warnings
warnings.filterwarnings('ignore')

`from sklearn.impute import SimpleImputer`
- The SimpleImputer class from the sklearn.impute module in scikit-learn is used to handle missing values in a dataset by imputing/replacing them with a specified strategy (such as mean, median, most frequent, or a constant value)

`from sklearn.preprocessing import OrdinalEncoder`
- The OrdinalEncoder from the sklearn.preprocessing module in scikit-learn is used to encode categorical features into ordinal integers. It assigns a unique integer value to each category present in the input data.

`What is Ordinal integers?`
- Ordinal integers are a set of integers used to represent ordered or ranked categories or values. In machine learning and data preprocessing, ordinal integers are often assigned to categorical variables to encode them numerically based on their inherent order or ranking.
- For instance, consider a categorical variable like T-shirt sizes: 'small', 'medium', and 'large'. Ordinal integers might be assigned in a way that reflects their order, such as:

1. 'small' might be encoded as 0
2. 'medium' might be encoded as 1
3. 'large' might be encoded as 2

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/aishwaryamate/Datasets/main/cars.csv')
df

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,?,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,?,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,23,28,16845
201,-1,95,volvo,gas,sedan,rwd,front,68.8,55.5,ohc,141,160,19,25,19045
202,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohcv,173,134,18,23,21485
203,-1,95,volvo,diesel,sedan,rwd,front,68.9,55.5,ohc,145,106,26,27,22470
204,-1,95,volvo,gas,sedan,rwd,front,68.9,55.5,ohc,141,114,19,25,22625

## 2. EDA

In [3]:
df.describe()

,symboling,width,height,engine-size,city-mpg,highway-mpg,price
count,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000,205.000000
mean,0.834146,65.907805,53.724878,126.907317,25.219512,30.751220,13227.478049
std,1.245307,2.145204,2.443522,41.642693,6.542142,6.886443,7902.651615
min,-2.000000,60.300000,47.800000,61.000000,13.000000,16.000000,5118.000000
25%,0.000000,64.100000,52.000000,97.000000,19.000000,25.000000,7788.000000
50%,1.000000,65.500000,54.100000,120.000000,24.000000,30.000000,10345.000000
75%,2.000000,66.900000,55.500000,141.000000,30.000000,34.000000,16500.000000
max,3.000000,72.300000,59.800000,326.000000,49.000000,54.000000,45400.000000

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    object
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(2), int64(5), object(8)
memory usage: 24.2+ KB

In [5]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [6]:
df['normalized-losses'].value_counts()

?      41
161    11
91      8
150     7
134     6
128     6
104     6
85      5
94      5
65      5
102     5
74      5
168     5
103     5
95      5
106     4
93      4
118     4
148     4
122     4
83      3
125     3
154     3
115     3
137     3
101     3
119     2
87      2
89      2
192     2
197     2
158     2
81      2
188     2
194     2
153     2
129     2
108     2
110     2
164     2
145     2
113     2
256     1
107     1
90      1
231     1
142     1
121     1
78      1
98      1
186     1
77      1
Name: normalized-losses, dtype: int64

In [7]:
# ? are missing values

In [8]:
df[df['horsepower']== '?']

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
130,0,?,renault,gas,wagon,fwd,front,66.5,55.2,ohc,132,?,23,31,9295
131,2,?,renault,gas,hatchback,fwd,front,66.6,50.5,ohc,132,?,23,31,9895

In [9]:
df.replace('?', np.nan, inplace=True)

In [10]:
df.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
body-style            0
drive-wheels          0
engine-location       0
width                 0
height                0
engine-type           0
engine-size           0
horsepower            2
city-mpg              0
highway-mpg           0
price                 0
dtype: int64

In [11]:
df.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
body-style            object
drive-wheels          object
engine-location       object
width                float64
height               float64
engine-type           object
engine-size            int64
horsepower            object
city-mpg               int64
highway-mpg            int64
price                  int64
dtype: object

In [12]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,13495
1,3,NaN,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111,21,27,16500
2,1,NaN,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154,19,26,16500
3,2,164,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102,24,30,13950
4,2,164,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115,18,22,17450

In [13]:
# Replacing missing values
# Use the median if an outlier is present.
# use mean if outlier is not present presentÂ 
# If we want to use fillna, replace the object data type with an int data type using astype.

In [14]:
# But without using astype
# Using SimpleImputer

In [15]:
si = SimpleImputer(strategy='median')

In [16]:
df.iloc[:, [1,11]]

    normalized-losses horsepower
0                 NaN        111
1                 NaN        111
2                 NaN        154
3                 164        102
4                 164        115
..                ...        ...
200                95        114
201                95        160
202                95        134
203                95        106
204                95        114

[205 rows x 2 columns]

In [17]:
df.iloc[:, [1,11]] = si.fit_transform(df.iloc[:, [1,11]])

In [18]:
#Replaced
df.iloc[:, [1,11]]

     normalized-losses  horsepower
0                115.0       111.0
1                115.0       111.0
2                115.0       154.0
3                164.0       102.0
4                164.0       115.0
..                 ...         ...
200               95.0       114.0
201               95.0       160.0
202               95.0       134.0
203               95.0       106.0
204               95.0       114.0

[205 rows x 2 columns]

In [19]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,13495
1,3,115.0,alfa-romero,gas,convertible,rwd,front,64.1,48.8,dohc,130,111.0,21,27,16500
2,1,115.0,alfa-romero,gas,hatchback,rwd,front,65.5,52.4,ohcv,152,154.0,19,26,16500
3,2,164.0,audi,gas,sedan,fwd,front,66.2,54.3,ohc,109,102.0,24,30,13950
4,2,164.0,audi,gas,sedan,4wd,front,66.4,54.3,ohc,136,115.0,18,22,17450

In [20]:
df.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
body-style           0
drive-wheels         0
engine-location      0
width                0
height               0
engine-type          0
engine-size          0
horsepower           0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [21]:
# Encoding

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    object
 3   fuel-type          205 non-null    object
 4   body-style         205 non-null    object
 5   drive-wheels       205 non-null    object
 6   engine-location    205 non-null    object
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    object
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(4), int64(5), object(6)
memory usage: 24.2+ KB

In [23]:
# All categorical calumns but this is not good way
df[['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location', 'engine-type']]

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [24]:
#Easy way to select same data types coumns
df.select_dtypes(object)

,make,fuel-type,body-style,drive-wheels,engine-location,engine-type
0,alfa-romero,gas,convertible,rwd,front,dohc
1,alfa-romero,gas,convertible,rwd,front,dohc
2,alfa-romero,gas,hatchback,rwd,front,ohcv
3,audi,gas,sedan,fwd,front,ohc
4,audi,gas,sedan,4wd,front,ohc
...,...,...,...,...,...,...
200,volvo,gas,sedan,rwd,front,ohc
201,volvo,gas,sedan,rwd,front,ohc
202,volvo,gas,sedan,rwd,front,ohcv
203,volvo,diesel,sedan,rwd,front,ohc
204,volvo,gas,sedan,rwd,front,ohc

In [25]:
cat_cols = df.select_dtypes(object).columns
cat_cols

Index(['make', 'fuel-type', 'body-style', 'drive-wheels', 'engine-location',
       'engine-type'],
      dtype='object')

In [26]:
oe = OrdinalEncoder()
df[cat_cols] = oe.fit_transform(df[cat_cols])

In [27]:
df.head()

,symboling,normalized-losses,make,fuel-type,body-style,drive-wheels,engine-location,width,height,engine-type,engine-size,horsepower,city-mpg,highway-mpg,price
0,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,13495
1,3,115.0,0.0,1.0,0.0,2.0,0.0,64.1,48.8,0.0,130,111.0,21,27,16500
2,1,115.0,0.0,1.0,2.0,2.0,0.0,65.5,52.4,5.0,152,154.0,19,26,16500
3,2,164.0,1.0,1.0,3.0,1.0,0.0,66.2,54.3,3.0,109,102.0,24,30,13950
4,2,164.0,1.0,1.0,3.0,0.0,0.0,66.4,54.3,3.0,136,115.0,18,22,17450

In [28]:
#Encoded
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized-losses  205 non-null    float64
 2   make               205 non-null    float64
 3   fuel-type          205 non-null    float64
 4   body-style         205 non-null    float64
 5   drive-wheels       205 non-null    float64
 6   engine-location    205 non-null    float64
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   engine-type        205 non-null    float64
 10  engine-size        205 non-null    int64
 11  horsepower         205 non-null    float64
 12  city-mpg           205 non-null    int64
 13  highway-mpg        205 non-null    int64
 14  price              205 non-null    int64
dtypes: float64(10), int64(5)
memory usage: 24.2 KB

## Model Buliding

In [29]:
x = df.iloc[:,:-1]
y = df['price']

In [30]:
xtrain, xtest, ytrain, ytest = train_test_split(x,y,test_size=0.3, random_state=1)

In [31]:
lr = LinearRegression()
lr.fit(xtrain, ytrain)
ypred = lr.predict(xtest)

In [32]:
lr.intercept_

-64935.11357978259

In [33]:
#Slope value
lr.coef_

array([ 5.71727164e+01,  4.76320989e-01, -2.01309566e+02, -6.22705136e+02,
       -1.63712110e+02,  1.88863899e+03,  1.63884484e+04,  7.90632094e+02,
        3.61221503e+02,  2.81207534e+02,  9.82290864e+01, -1.06474945e+01,
        3.08435166e+02, -4.17126915e+02])

In [34]:
lr.score(xtrain, ytrain), lr.score(xtest, ytest)

(0.8504229026078215, 0.7964854785429524)

In [35]:
#Overfitted model

## Lasso
- "Least Absolute Shrinkage and Selection Operator," is a regression analysis technique used for variable selection and regularization in linear models. It adds a penalty term to the standard linear regression objective function, which helps prevent overfitting and encourages simpler models by imposing a constraint on the sum of the absolute values of the model's coefficients.

In [36]:
l1 = Lasso()
l1.fit(xtrain,ytrain)
l1.score(xtrain, ytrain), l1.score(xtest, ytest)

(0.8504215478243032, 0.7966615211575686)

In [37]:
l1.coef_

array([ 5.70766693e+01,  4.67141700e-01, -2.01139953e+02, -6.14206970e+02,
       -1.64751649e+02,  1.88558824e+03,  1.63181959e+04,  7.88680118e+02,
        3.61783500e+02,  2.81248690e+02,  9.83193653e+01, -1.05310631e+01,
        3.07274772e+02, -4.15725804e+02])

## Hyperparameter Tuning

In [38]:
# We are looking for Alpha Value which make Train and test score same or approx same
for i in range(100,200):
    l1 = Lasso(alpha=i)
    l1.fit(xtrain,ytrain)
    print(f"Alpha {i} Train {l1.score(xtrain, ytrain)} Test {l1.score(xtest, ytest)}")

Alpha 100 Train 0.8372483974026499 Test 0.8092040910955614
Alpha 101 Train 0.8369899229541407 Test 0.8092979610738258
Alpha 102 Train 0.8367288785613758 Test 0.8093910017461712
Alpha 103 Train 0.8364651676681871 Test 0.8094832684251526
Alpha 104 Train 0.8361989818307348 Test 0.8095746503624812
Alpha 105 Train 0.8359302253870345 Test 0.8096652035299016
Alpha 106 Train 0.8356588978359675 Test 0.8097549282309099
Alpha 107 Train 0.8353849991129144 Test 0.8098438245155563
Alpha 108 Train 0.8351084257059385 Test 0.809931945484127
Alpha 109 Train 0.8348293842179737 Test 0.8100191840285438
Alpha 110 Train 0.8345477714936769 Test 0.8101055942385992
Alpha 111 Train 0.8342635877040369 Test 0.8101911760417996
Alpha 112 Train 0.8339767222137543 Test 0.8102759813628972
Alpha 113 Train 0.8336873954613211 Test 0.8103599056262563
Alpha 114 Train 0.8333954973355284 Test 0.810443001666504
Alpha 115 Train 0.8331010276993127 Test 0.810525269547536
Alpha 116 Train 0.8328038691204882 Test 0.8106067595950118
Alpha 117 Train 0.8325042561318754 Test 0.8106873701557593
Alpha 118 Train 0.8322020717101931 Test 0.8107671525374287
Alpha 119 Train 0.831897315909265 Test 0.8108461067199922
Alpha 120 Train 0.8315898643306087 Test 0.8109242812985725
Alpha 121 Train 0.8312799660294592 Test 0.8110015778648529
Alpha 122 Train 0.8309674969080165 Test 0.8110780460553539
Alpha 123 Train 0.8306523257994233 Test 0.8111537336006447
Alpha 124 Train 0.8303347149155724 Test 0.8112285440004979
Alpha 125 Train 0.8300145320017066 Test 0.811302526508727
Alpha 126 Train 0.8296917792068185 Test 0.8113756803829957
Alpha 127 Train 0.829366316475423 Test 0.8114480518748994
Alpha 128 Train 0.8290384195488707 Test 0.8115195488665822
Alpha 129 Train 0.8287079533571843 Test 0.8115902170896445
Alpha 130 Train 0.8283747703082013 Test 0.8116601017520375
Alpha 131 Train 0.8280391586533506 Test 0.8117291135142941
Alpha 132 Train 0.8277009785176217 Test 0.8117972963383392
Alpha 133 Train 0.8273600743513216 Test 0.8118646943166663
Alpha 134 Train 0.827016751920332 Test 0.8119312197807059
Alpha 135 Train 0.8266708579462198 Test 0.8119969172586021
Alpha 136 Train 0.8263223897906081 Test 0.8120617874347753
Alpha 137 Train 0.8259711936341727 Test 0.8121258693292266
Alpha 138 Train 0.8256175865009793 Test 0.8121890813322454
Alpha 139 Train 0.8252612405575876 Test 0.8122515055400706
Alpha 140 Train 0.8249024913515863 Test 0.8123130602354285
Alpha 141 Train 0.8245411708666053 Test 0.8123737869230406
Alpha 142 Train 0.8241771102161816 Test 0.8124337227741055
Alpha 143 Train 0.8238106530253967 Test 0.8124927911020222
Alpha 144 Train 0.8234416172134693 Test 0.8125510330331999
Alpha 145 Train 0.8230698280784812 Test 0.8126084835163163
Alpha 146 Train 0.8226956503354529 Test 0.8126650681694726
Alpha 147 Train 0.8223189013367542 Test 0.8127208248289379
Alpha 148 Train 0.8219393940513868 Test 0.8127757876072301
Alpha 149 Train 0.8215575086176153 Test 0.8128298860919089
Alpha 150 Train 0.8211730520262539 Test 0.8128831566524963
Alpha 151 Train 0.8207858295570518 Test 0.8129356313528258
Alpha 152 Train 0.8203962392797491 Test 0.8129872435786123
Alpha 153 Train 0.8200038659827094 Test 0.8130380604531806
Alpha 154 Train 0.8196091274468162 Test 0.8130880167485961
Alpha 155 Train 0.8192116048584221 Test 0.8131371754207155
Alpha 156 Train 0.8188117256012322 Test 0.8131854746070425
Alpha 157 Train 0.8184092752900354 Test 0.8132329459427781
Alpha 158 Train 0.8180040340448276 Test 0.813279617108145
Alpha 159 Train 0.8175964432833531 Test 0.8133254313927005
Alpha 160 Train 0.8171860531186916 Test 0.8133704442145948
Alpha 161 Train 0.8167733221546685 Test 0.8134146014856176
Alpha 162 Train 0.816357783218174 Test 0.8134579558972019
Alpha 163 Train 0.8159399130313314 Test 0.813500456125974
Alpha 164 Train 0.8155192326252293 Test 0.8135421513909359
Alpha 165 Train 0.8150962240434021 Test 0.8135829946288721
Alpha 166 Train 0.8146706427093288 Test 0.8136230103114317
Alpha 167 Train 0.814242239042142 Test 0.8136622185802584
Alpha 168 Train 0.8138115184156173 Test 0.8137005774315418
Alpha 169 Train 0.8133779670184814 Test 0.813738127152358
Alpha 170 Train 0.812942107429732 Test 0.8137748292356427
Alpha 171 Train 0.8125034086683014 Test 0.8138107203716055
Alpha 172 Train 0.8120624104546714 Test 0.8138457657584284
Alpha 173 Train 0.8116185647484577 Test 0.8138799982828286
Alpha 174 Train 0.8111721398138243 Test 0.8139134011642214
Alpha 175 Train 0.8107234361496893 Test 0.8139459609474125
Alpha 176 Train 0.8102718648859881 Test 0.8139777051490644
Alpha 177 Train 0.8098180239059947 Test 0.8140086084473978
Alpha 178 Train 0.8093613132661216 Test 0.814038693771297
Alpha 179 Train 0.808902341338292 Test 0.8140679405535107
Alpha 180 Train 0.8084404898252787 Test 0.814096367226358
Alpha 181 Train 0.8079760625391161 Test 0.8141239640881857
Alpha 182 Train 0.8075093897331423 Test 0.8141507260035142
Alpha 183 Train 0.8070398161300381 Test 0.814176664435304
Alpha 184 Train 0.8065680080542684 Test 0.8142017704223898
Alpha 185 Train 0.8060932933491103 Test 0.8142260504255305
Alpha 186 Train 0.8056160025244101 Test 0.8142495005999419
Alpha 187 Train 0.8051364964854257 Test 0.814272122341565
Alpha 188 Train 0.8046540668179516 Test 0.8142939142513763
Alpha 189 Train 0.8041690622414064 Test 0.8143148763571931
Alpha 190 Train 0.8036814832401014 Test 0.8143350086553349
Alpha 191 Train 0.8031917275605561 Test 0.8143543185997575
Alpha 192 Train 0.802699025870538 Test 0.8143727932940247
Alpha 193 Train 0.8022037529436447 Test 0.8143904384269913
Alpha 194 Train 0.801705909538015 Test 0.8144072540570484
Alpha 195 Train 0.8012054966196824 Test 0.8144232402636585
Alpha 196 Train 0.800702515179387 Test 0.8144383971441083
Alpha 197 Train 0.8001973998845261 Test 0.8144527419474971
Alpha 198 Train 0.799689294783284 Test 0.8144662423958203
Alpha 199 Train 0.7991786241960611 Test 0.8144789139191477

In [39]:
l1 = Lasso(alpha=175)
l1.fit(xtrain,ytrain)
l1.score(xtrain, ytrain), l1.score(xtest, ytest)

(0.8107234361496893, 0.8139459609474125)

In [40]:
# We got generalized model

In [41]:
l1.coef_

array([  26.15091464,   -0.        , -173.02547787,   -0.        ,
       -363.80743898, 1247.84193718, 3867.709301  ,  391.04314711,
        451.57194036,  297.35122938,  113.32977728,   11.00742675,
         70.90090498, -160.35202828])

In [42]:
# columns with value 0 are of no use drop those cols

In [43]:
xtrain.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'body-style',
       'drive-wheels', 'engine-location', 'width', 'height', 'engine-type',
       'engine-size', 'horsepower', 'city-mpg', 'highway-mpg'],
      dtype='object')

In [44]:
# Thats how Lasso are used for Regularization and Feature Selection

## Rigid

In [45]:
l2 = Ridge()
l2.fit(xtrain, ytrain)
l2.score(xtrain, ytrain), l2.score(xtest, ytest)

(0.8435840853399225, 0.8075632224690537)

In [46]:
# Tuning
for i in range(1, 100):
    l2 = Ridge(alpha=i)
    l2.fit(xtrain,ytrain)
    print(f"Alpha {i} Train {l2.score(xtrain, ytrain)} Test {l2.score(xtest, ytest)}")

Alpha 1 Train 0.8435840853399225 Test 0.8075632224690537
Alpha 2 Train 0.8356695734845092 Test 0.8112192014374255
Alpha 3 Train 0.8296379623431073 Test 0.8129299663310143
Alpha 4 Train 0.8250699092246864 Test 0.8138839096972439
Alpha 5 Train 0.8215093087765016 Test 0.8144682684596014
Alpha 6 Train 0.8186486103834849 Test 0.814843562726523
Alpha 7 Train 0.8162882573020809 Test 0.8150880725612083
Alpha 8 Train 0.8142964263180523 Test 0.815244730507158
Alpha 9 Train 0.812583522729097 Test 0.8153392574436445
Alpha 10 Train 0.8110868722186451 Test 0.8153881483263244
Alpha 11 Train 0.8097614513602518 Test 0.8154025610279507
Alpha 12 Train 0.8085741366835051 Test 0.8153903693701571
Alpha 13 Train 0.8075000372738095 Test 0.8153573212892009
Alpha 14 Train 0.8065200924084595 Test 0.8153077294072232
Alpha 15 Train 0.8056194580416446 Test 0.8152449025615436
Alpha 16 Train 0.804786398073303 Test 0.8151714264843272
Alpha 17 Train 0.8040115065187471 Test 0.8150893527689589
Alpha 18 Train 0.8032871514648678 Test 0.8150003299437463
Alpha 19 Train 0.8026070707304607 Test 0.8149056967781803
Alpha 20 Train 0.8019660732378707 Test 0.8148065502246254
Alpha 21 Train 0.8013598153077788 Test 0.8147037958811019
Alpha 22 Train 0.8007846308878103 Test 0.8145981861304739
Alpha 23 Train 0.8002374011637663 Test 0.8144903494117508
Alpha 24 Train 0.7997154533085167 Test 0.8143808129927239
Alpha 25 Train 0.7992164810518412 Test 0.8142700209017136
Alpha 26 Train 0.7987384817763888 Test 0.814158348199973
Alpha 27 Train 0.7982797062609374 Test 0.8140461124511118
Alpha 28 Train 0.7978386181969568 Test 0.8139335830177278
Alpha 29 Train 0.7974138613263302 Test 0.8138209886554859
Alpha 30 Train 0.7970042325726074 Test 0.8137085237599926
Alpha 31 Train 0.7966086599233979 Test 0.8135963535381272
Alpha 32 Train 0.7962261841073035 Test 0.8134846183137231
Alpha 33 Train 0.7958559433227879 Test 0.8133734371313501
Alpha 34 Train 0.7954971604380747 Test 0.8132629107871046
Alpha 35 Train 0.7951491322043276 Test 0.8131531243887079
Alpha 36 Train 0.7948112201189454 Test 0.8130441495267423
Alpha 37 Train 0.7944828426489629 Test 0.8129360461229016
Alpha 38 Train 0.7941634685815295 Test 0.8128288640086809
Alpha 39 Train 0.7938526113131446 Test 0.8127226442780506
Alpha 40 Train 0.7935498239245844 Test 0.8126174204498453
Alpha 41 Train 0.7932546949164723 Test 0.8125132194693
Alpha 42 Train 0.7929668445028013 Test 0.8124100625731353
Alpha 43 Train 0.7926859213776736 Test 0.8123079660384829
Alpha 44 Train 0.7924115998850196 Test 0.8122069418326154
Alpha 45 Train 0.7921435775328081 Test 0.8121069981777131
Alpha 46 Train 0.7918815728028478 Test 0.8120081400426531
Alpha 47 Train 0.7916253232151244 Test 0.8119103695719461
Alpha 48 Train 0.7913745836120682 Test 0.8118136864604217
Alpha 49 Train 0.7911291246334808 Test 0.8117180882809593
Alpha 50 Train 0.7908887313572605 Test 0.8116235707715007
Alpha 51 Train 0.7906532020847592 Test 0.811530128086684
Alpha 52 Train 0.7904223472526619 Test 0.8114377530186672
Alpha 53 Train 0.7901959884558677 Test 0.811346437191079
Alpha 54 Train 0.7899739575680174 Test 0.8112561712294909
Alpha 55 Train 0.7897560959481498 Test 0.8111669449113403
Alpha 56 Train 0.7895422537235103 Test 0.8110787472978381
Alpha 57 Train 0.7893322891398644 Test 0.8109915668500709
Alpha 58 Train 0.7891260679717907 Test 0.8109053915312061
Alpha 59 Train 0.7889234629863806 Test 0.8108202088964674
Alpha 60 Train 0.788724353454611 Test 0.8107360061723382
Alpha 61 Train 0.7885286247053471 Test 0.8106527703262635
Alpha 62 Train 0.7883361677175607 Test 0.8105704881279608
Alpha 63 Train 0.7881468787468563 Test 0.8104891462033195
Alpha 64 Train 0.7879606589828785 Test 0.8104087310817414
Alpha 65 Train 0.7877774142345472 Test 0.8103292292376811
Alpha 66 Train 0.7875970546404287 Test 0.8102506271270438
Alpha 67 Train 0.7874194944018466 Test 0.8101729112190271
Alpha 68 Train 0.7872446515365975 Test 0.8100960680239268
Alpha 69 Train 0.7870724476513742 Test 0.8100200841173542
Alpha 70 Train 0.786902807731193 Test 0.809944946161276
Alpha 71 Train 0.7867356599443074 Test 0.8098706409222324
Alpha 72 Train 0.786570935461244 Test 0.8097971552870418
Alpha 73 Train 0.7864085682867381 Test 0.8097244762762874
Alpha 74 Train 0.7862484951034632 Test 0.8096525910558197
Alpha 75 Train 0.786090655126568 Test 0.8095814869465081
Alpha 76 Train 0.7859349899681197 Test 0.8095111514324311
Alpha 77 Train 0.7857814435106488 Test 0.8094415721676851
Alpha 78 Train 0.7856299617890594 Test 0.8093727369819632
Alpha 79 Train 0.7854804928802398 Test 0.8093046338850487
Alpha 80 Train 0.7853329867997779 Test 0.8092372510703418
Alpha 81 Train 0.785187395405222 Test 0.8091705769175341
Alpha 82 Train 0.7850436723053973 Test 0.8091045999945259
Alpha 83 Train 0.7849017727753195 Test 0.8090393090586788
Alpha 84 Train 0.78476165367629 Test 0.8089746930574779
Alpha 85 Train 0.7846232733807956 Test 0.8089107411286772
Alpha 86 Train 0.7844865917018645 Test 0.8088474425999874
Alpha 87 Train 0.7843515698265606 Test 0.8087847869883671
Alpha 88 Train 0.7842181702533259 Test 0.8087227639989625
Alpha 89 Train 0.7840863567329017 Test 0.8086613635237428
Alpha 90 Train 0.7839560942125866 Test 0.8086005756398728
Alpha 91 Train 0.7838273487836 Test 0.8085403906078545
Alpha 92 Train 0.7837000876313459 Test 0.8084807988694747
Alpha 93 Train 0.7835742789883862 Test 0.8084217910455799
Alpha 94 Train 0.783449892089942 Test 0.8083633579337142
Alpha 95 Train 0.7833268971317657 Test 0.8083054905056332
Alpha 96 Train 0.7832052652302253 Test 0.8082481799047186
Alpha 97 Train 0.7830849683844653 Test 0.8081914174433131
Alpha 98 Train 0.7829659794405156 Test 0.8081351945999873
Alpha 99 Train 0.7828482720572246 Test 0.8080795030167582

In [47]:
l2 = Ridge(alpha=7)
l2.fit(xtrain, ytrain)
l2.score(xtrain, ytrain), l2.score(xtest, ytest)

(0.8162882573020809, 0.8150880725612083)

In [48]:
l2.coef_

array([ 2.31139279e+02, -3.29204695e+00, -1.90126861e+02, -1.01249352e+03,
       -6.04047656e+02,  1.71736131e+03,  3.40160377e+03,  3.91530395e+02,
        5.57861287e+02,  5.13867686e+02,  1.02968876e+02,  2.01227011e+01,
        2.13425523e+02, -2.79915768e+02])

In [49]:
# We don't any 0 because Rigid do not perform Feature Selection

## Elastic Net

In [50]:
em = ElasticNet()
em.fit(xtrain, ytrain)
em.score(xtrain, ytrain), em.score(xtest, ytest)

(0.7866253599240464, 0.8098264817256129)

In [51]:
# Generalized model we dont have to perform Hyperparameter tuning
# Still we can perform Hyperparameter tuning